* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.text-center {
    text-align: center;
}

/* Vanner section */

.Main-banner-section {
    background: rgba(0, 0, 0, 0.5)url(./images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;

    background-blend-mode: darken;


}

.banner-section h1 {
    font-size: 100px;
    color: #fff;
    margin-bottom: 18px;
}

.banner-section p {
    font-size: 29px;
    color: #fff;
    margin-bottom: 50px;
}



.banner-button {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    background: tomato;
    padding: 19px 30px;
    border-radius: 5px;
}

/* donate-tag-section */

.donate-tag-section {
    padding: 100px;
}

.donate-text {}

.donate-text h1 {
    font-size: 66px;
    margin-bottom: 24px;
}

.donate-text p {
    font-size: 21px;
    color: #767676;
    margin-bottom: 25px;
    padding: 0 400px;
}

.donate-tag a {
    text-decoration: none;
    background-color: #fdf4f8cf;
    padding: 46px 28px;
    margin: 10px;
    margin-top: 18px;
    display: inline-block;
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 700;
    color: #767676;
    border-radius: 5px;
}

.donate-tag .mark {
    border: 3px solid tomato;
    color: tomato;
    border-radius: 5px;
}

.donate-suvmit {}

.donate-suvmit p {
    font-size: 25px;
    color: #bdb6b6;
    margin-bottom: 26px;
    border-bottom: 2px solid #bdb6b6;
    padding: 11px 45px;
    width: 848px;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
}